<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Faceit Stats</title>
    <script src="https://kit.fontawesome.com/d536b68b1c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/public/js/index.js"></script>
  </head>
  <body class="light">
      <nav class="main-menu">
        <div class="logo">
          <span title="Faceit Stats">FS</span>
        </div>
        <a class="" href="https://faceitstats.alexmfv.com/">
          <div class="home left-menu">
            <i class="fas fa-home"></i>
            <span class="menu-value">Home</span>
          </div>
        </a>
        <div class="top-100 left-menu">
          <i class="fas fa-star"></i>
          <span class="menu-value" class="menu-value">Top 100</span>
        </div>
        <div class="donate left-menu">
          <i class="fas fa-dollar-sign"></i>
          <span class="menu-value">Donate</span>
        </div>
        <div class="contact left-menu">
          <i class="fas fa-phone-alt"></i>
          <span class="menu-value">Contact</span>
        </div>
      </nav>
      <div class="main-content">
        <div class="page-title">
          <h2>Home</h2>
        </div>
        <div class="search-container">
          <span>FACEIT login OR SteamID64</span>
          <div class="index-search">
            <input type="text" name="" id="steamId" placeholder="Search...">
            <i class="fas fa-search" id="btnSearch" title="Search"></i>
          </div>
        </div>
        <div class="top-container">
          <div class="title">
            <span>Top 5 Elo</span>
          </div>
          <div class="top-main topElo"></div>
        </div>
        <div class="top-container">
          <div class="title">
            <span>Top 5 K/D Ratio</span>
          </div>
          <div class="top-main topKd"></div>
        </div>
      </div>
    <!--<h3>TODO List Index.html</h3>
    <h4>&nbsp -Everything has to have links to the users profiles.</h4>
    <ul>
      <li>Last Seen Profiles (5, stored in database?)</li>
      <li>Top 10 Highest Elo Players</li>
      <li>Top 10 Highest KDR</li>
      <li>Dark/Light Mode (localStorage)</li>
      <li>Stats for all games in FACEIT</li>
      <li>//CSGO STATS: AlexMFV</li>
      <li>//RL Stats: Krubixx</li>
      <li>//Dota2 Stats: tsunomori</li>
    </ul>-->
  </body>
</html>
