<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Faceit Stats</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Faceit Stats</h1>
    <p><input type="text" id="steamId" value="" placeholder="FACEIT Name / SteamID64"> <button id="btnSearch" type="submit" name="button">Search</button></p>
    <div id="radioCont" class="radios">
      <input type="radio" checked="true" name="game" title="CS:GO" value="csgo"> CSGO
      <input type="radio" name="game" title="Rocket League" value="rocket_league"> Rocket League
      <input type="radio" name="game" title="Dota 2" value="dota2"> Dota 2
    </div>
    <h3>TODO List Index.html</h3>
    <h4>&nbsp -Everything has to have links to the users profiles.</h4>
    <ul>
      <li>Last Seen Profiles (5, stored in database?)</li>
      <li>Top 10 Highest Elo Players</li>
      <li>Top 10 Highest KDR</li>
      <li>Dark/Light Mode (localStorage)</li>
      <li>Stats for all games in FACEIT</li>
      <li>//CSGO STATS: AlexMFV</li>
      <li>//RL Stats: Krubixx</li>
      <li>//Dota2 Stats: tsunomori</li>
    </ul>
  </body>
  <script src="/public/js/enum.js" charset="utf-8"></script>
  <script src="/public/js/index.js"></script>
</html>
