<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Faceit Stats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/public/js/classes.js" charset="utf-8"></script>
    <script src="/public/js/match.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/d536b68b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/match.css">
  </head>
  <body class="light">
    <div class="page-title">
      <h2>Match Details</h2>
    </div>
    <hr class="vertical-middle-line">
    <div id="content"></div>
    <div style="display:none;" class="lds-background"><div class="lds-facebook"><div></div><div></div><div></div></div></div>
  </body>
</html>
