<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Faceit Stats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/public/js/classes.js" charset="utf-8"></script>
    <script src="/public/js/player.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/d536b68b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/player.css">
  </head>
  <body class="light">
    <div id="mainContainer" class="container">
    </div>

    <div class="" style="display:none;">
      <input type="date" name="startDate" value="">
      <input type="date" name="endDate" value="">
    </div>

    <div class="stats-container">
      <h3 class="stats-title">CS:GO Stats</h3>
      <nav style="display:flex;margin-bottom: 10px;">
        <div class="stats-item">
          <div>
            <span class="stats-header">K/D Ratio of all time</span>
            <span class="stats-value">1.10</span>
          </div>
        </div>
        <div class="stats-item">
          <div>
            <span class="stats-header">K/D Ratio (last 15 games)</span>
            <span class="stats-value">1.25</span>
          </div>
        </div>
        <div class="stats-item">
          <div>
            <span class="stats-header">Matches Win</span>
            <span class="stats-value">166</span>
          </div>
        </div>
        <div class="stats-item">
          <div>
            <span class="stats-header">Average HS</span>
            <span class="stats-value">43</span>
          </div>
        </div>
        <div class="stats-item">
          <div>
            <span class="stats-header">Win Rate</span>
            <span class="stats-value">53</span>
          </div>
        </div>
        <div class="stats-item">
          <div>
            <span class="stats-header">Win Streak</span>
            <span class="stats-value">10</span>
          </div>
        </div>
      </nav>
    </div>

    <div id="matches-container" class="matches">
      <h3 class="title-matches-history">Matches History</h3>
      <table id="table-matches" class="table-matches">
        <thead>
          <tr>
            <th><i class="fas fa-sliders-h"></i></th>
            <th>Team Name</th>
            <th>K-A-D</th>
            <th>Score</th>
            <th>Map</th>
            <th>Date</th>
            <th>ELO (points)</th>
          </tr>
        </thead>
        <tbody id="matches-rows" class="matches-rows"></tbody>
      </table>
      <div class="pagination">
        <a class="fas fa-caret-left"></a>
        <a>1</a>
        <a>2</a>
        <a class="fas fa-caret-right"></a>
      </div>
    </div>
    <div class="charts" style="display:none;">
      Here goes the charts
    </div>
    <div class="summary" style="display:none;">
      Here goes the "maps/champions" charts
    </div>
    <div style="display:none;" class="lds-background"><div class="lds-facebook"><div></div><div></div><div></div></div></div>
  </body>
</html>
