body{
  user-select: none;
}

.faceit-stats-container{
  width: 100%;
  background-color: var(--text);
  color: var(--bg);
}

.page-title{
  border-left: 10px solid #dcdcdc;
  border-right: 130px solid #dcdcdc;
  margin: 20px 0;
}

.page-title h2{
  margin-left: 50px;
}

.search-container{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.search-container span{
  font-size: 25px;
  font-weight: 700;
  font-family: "Bahnschrift";
}

.index-search{
  margin-top: 10px;
}

.index-search input{
  width: 35%;
  height: 48px;
  padding: 15px;
  border-width: 0;
  color: #fff;
  background-color: #F5C167;
  font-weight: 700;
  font-size: 20px;
}

.index-search input::placeholder{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.index-search input:focus{
  outline: none;
}

.index-search i{
  font-size: 25px;
  line-height: normal;
  color: #afafaf;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}

.index-search i:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

/*Top 5 Area*/
.top-container{
  padding: 40px;
  font-family: "Bahnschrift";
}

.top-container .title span{
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
}

.top-main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.top-main .player-container{
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 20px;
  transition: transform 0.6s;
  cursor: pointer;
}

.player-container:hover{
  transform: translateY(-10px);
}

.dark .player-container{
  background-color: #545454;
}

.player-container .img-container{
  width: 80px;
  height: 80px;
  background-color: lightgray;
  float: left;
}
.player-container .img-container img{
  width: 100%;
  height: 100%;
}

.player-container .values{
  margin-left: 10px;
  float: left;
}

.player-container .values span:not(:nth-child(1)){
  display: block;
  margin: 8px 0 0;
  color: #9e9e9e;
  font-size: 13px;
}

.dark .values span:not(:nth-child(1)){
  color: #c3c3c3;
}

.player-container .values .name {
  color: #707070;
}

.dark .values .name{
  color: #ffffff;
}
