:root{
  --light: #fff;
  --dark: #3e3e3e;
}

body{
  color: var(--text);
  background-color: var(--bg);
  font-family: "Nunito Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  margin: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.light{
  --text: var(--dark);
  --bg: var(--light);
}

.dark{
  --text: var(--light);
  --bg: var(--dark);
}

.main-menu{
  background-color: #feb062;
  position: fixed;
}

.left-menu{
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.left-menu:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.left-menu i{
    font-size: 17px;
}

.menu-value{
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.logo span{
  font-size: 25px;
  font-family: "Bahnschrift";
  font-weight: 700;
  color: #fff;
}

/*Search Area*/
.search{
  width: 100px;
  position: absolute;
}

.search input{
  width: 63px;
  margin-left: 3px;
  padding: 5px;
  border-width: 0;
  color: #707070;
  font-weight: 700;
}

.search input::placeholder{
  color: #9A9A9A;
  font-weight: 700;
  font-size: 14px;
}

.search input:focus{
  outline: none;
}

/*LOADING*/
.lds-background{
  background-color: var(--bg);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}
.lds-facebook {
  position: relative;
  width: 80px;
  height: 80px;
  left: 48%;
  top: 45%;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  /*background: #363636;*/
  background: var(--text);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
  background-color: #df6f0d;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*Large Screens*/
@media only screen and (min-width: 600px){
  .main-content{
    margin-left: 80px;
  }

  .main-menu{
    top: 0;
    width: 80px;
    height: 100%;
  }

  .left-menu{
    margin-top: 70px;
  }
  .logo{
     text-align: center;
     margin-bottom: 50px;
     margin-top: 10px;
  }
  .search {
    bottom: 4px;
  }
}
/*Small Screens*/
@media only screen and (max-width: 600px){
  .main-content{
    margin-left: 0px;
  }
  .main-menu{
    bottom: 0;
    width: 100%;
    padding: 5px;
    z-index: 1;
  }
  .left-menu{
    display: inline-block;
    margin-top: 0px;
    margin-right: 40px;
    vertical-align: middle;
  }
  .logo{
    display: inline-block;
    margin-right: 30px;
    vertical-align: bottom;
    margin-left: 10px;
  }
  .search {
      display: inline-block;
      right: 0;
      bottom: 15px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
