:root{
  --light: #fff;
  --dark: #3e3e3e;
}

body{
  color: var(--text);
  background-color: var(--bg);
  font-family: "Nunito Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a{
  text-decoration: none;
}

.light{
  --text: var(--dark);
  --bg: var(--light);
}

.dark{
  --text: var(--light);
  --bg: var(--dark);
}

.main-menu{
  background-color: #FE6315;
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;;
  height: 100%;
}

.left-menu{
  text-align: center;
  margin-top: 70px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.left-menu:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.menu-value{
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.logo{
  text-align: center;
  margin-bottom: 50px;
}

.logo span{
  font-size: 45px;
  font-family: "Bahnschrift";
  font-weight: 700;
  color: #242424;
}

.search{
  bottom: 0;
  width: 100px;
  position: absolute;
  bottom: 4px;
}

.search input{
  width: 83px;
  margin-left: 3px;
  padding: 5px;
  text-align: center;
  border-width: 0;
  color: #707070;
  font-weight: 700;
}

.search input::placeholder{
  color: #9A9A9A;
  font-weight: 700;
  font-size: 16px;
}

.search input:focus{
  outline: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}

/*LOADING*/
.lds-background{
  background-color: var(--bg);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}
.lds-facebook {
  position: relative;
  width: 80px;
  height: 80px;
  left: 48%;
  top: 45%;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  /*background: #363636;*/
  background: var(--text);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
  background-color: #df6f0d;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/******************/

.pagination{
  width: 100%;
  display: inline-block;
  border-top: 1px solid rgba(3,3,3,0.7511205165660014);
  padding: 1px 0 1px 0;
  user-select: none;
}

.pagination a{
  font-size: 11px;
  font-weight: 700;
  padding: 8px;
}

.pagination a:hover{
  cursor: pointer;
  background-color: #df6f0d;
  color: #fff;
}

.table-button{
  height: 2.5em;
  font-weight: 700;
  align-items: center;
  border: 1px solid transparent;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  font-size: 14px;
}

.is-primary{
  background-color: rgba(3,3,3,0.7511205165660014);
  border-color: transparent;
  color: #fff;
  font-size: 12px;
}

.is-success{
  background-color: #4bbf73;
  border-color: transparent;
  color: #fff;
}

.is-danger{
  background-color: #d9534f;
  border-color: transparent;
  color: #fff;
}

.is-small{
  border-radius: 0;
  font-size: .75rem;
}
