body{
  background: #222;
  color: #fff;
}

.container, .matches, .charts, .summary{
  margin-bottom: 10px;
  border: 2px dashed black;
}

.avatar{
  width: 100px;
  height: 100px;
  border: 3px solid black;
}

.ranking{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
  align-items: center;
}
